@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.SetShowTile {
  height: 15rem;
  width: 35rem;
  background-color: #C7E0E1;
  margin-top: 1rem;
  margin-bottom: 9rem;
  margin-left: 5rem;
  margin-right: 5rem;
}