@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}



.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    border: 10px;
}



.indexPage {
  margin-top: 55px;
  display:flex;
  flex-direction:row;
}

.setTile {
  height: 16%;
  background-color: #E2EDEE;
  padding: 1rem;
  margin: .5rem;
  border: solid;
  border-radius: 10px;
  border-color: #979E9E;
  display:flex;
  flex-direction:row;
}

.setTileImage {
  width: 15%;
  padding-right: 1rem;
  margin-right: 1 rem;
  margin-left: 1rem;
  object-fit: contain;
}

.setListHeader {
    height: 1%;
    background-color: #CEC4C4;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: 2rem;
    margin: .5rem;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
}


.showPageImage {
  width: 90%;
  margin-bottom: 2%;
}

.showPage {
  display:flex;
  flex-direction:row;
}

.showPageDetails {
  margin-left: auto;
  margin-right: 20%;
  margin-top: 3%;
  display: block;
  width: 100%;
  padding: 2%;
}

.setHeader {
    background-color: #F9FCFC;
    border-radius: 5px;
    padding: 3%;
    margin-bottom: .5rem;
}

.setHeaderAdminOptions {
    float: right;
}

.setDetails {
    background-color: #F1F8FA;
    border-radius: 5px;
    padding: 3%;
    margin-bottom: .5rem;
}

.kitsDisplay {
    background-color: #E2EDEE;
    border-radius: 5px;
    padding: 3%;
}

.kitTile {
  padding: 2%;
}

.mechmarketShowPage {
  margin-top: 55px;
  background-color: #F0EEEA;
  height: 100vh;
  position: fixed;
  bottom: 10;
  right: 0;
  width: 20%;
  overflow-y: scroll;
}

.mechmarketHeader {
    margin: .5rem;
}

.mechmarketNotFound {
    margin: .5rem;
    font-style: italic;
}

.mechmarketTile {
  font-weight: 500;
  margin: .5rem;
  padding: 1rem;
  background-color: #EADAB6;
  border-radius: 5px;
  border: solid;
}

.adminSetOptionsDelete {
  padding: 1rem;
  margin-left: .25rem;
  background-color: #EE5555;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  float: right;
}

.adminSetOptionsEdit {
  padding: 1rem;
  margin-right: .25rem;
  background-color: #CEC4C4;
  border-radius: 5px;
  font-weight: bold;
  float: right;
}

.adminKitOptionsAdd {
    padding: 1rem;
    margin-right: .25rem;
    background-color: #CEC4C4;
    border-radius: 5px;
    font-weight: bold;
    float: right;
}



.searchForm {
  padding: 1%;
  padding-bottom: 1%;
  margin-bottom: 1rem;
  background-color: #BCC8C8;
  width: 70%;
  height: 100vh;
}


.newForm {
  height: 90%;
  padding: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
  margin-bottom: 5%;
  background-color: #E2EDEE;
  border-radius: 5px;
}

.inputButton {
  padding: .5rem;
  margin-top: 1rem;
  margin-right: .5rem;
  background-color: #CEC4C4;
  border-radius: 5px;
  font-weight: bold;
}

.topBarLinks {
  font-weight: 750;
}

.button {
  font-weight: 500;
}



.about {
    margin: 10%;
    padding: 10%;
    border: solid;
    border-radius: 10px;
    border-color: #E2EDEE;
    background-color: #E2EDEE;
}



.authForm {
    margin-top: 5%;
}



h3 {
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 120%;
}

h5 {
    font-weight: bold;
}

li {
    font-size: 18px;
}
