@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.setTile {
  height: 28%;
  background-color: #E2EDEE;
  padding: 1rem;
  margin: .5rem;
  border: solid;
  border-radius: 10px;
  border-color: #979E9E
}

.setTileImage {
  max-width: 20%;
  object-fit: contain;
}

.showPageImage {
  width: 90%;
  margin-bottom: 2%;
}

.showPage {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  padding: 5rem;
}

.kitTile {
  padding: 2%;
}

.indexPage {
  display:flex;
  flex-direction:row;
}

.search {
  padding: 1%;
  background-color: #BCC8C8;
  width: 60%;
  height: 100vh;
}